body {
    background-color:darkred;
}
 #cat {
    font-family: 'Roboto Mono', monospace;
    color: darkgoldenrod;
    border: 4px solid darkcyan;
    border-radius: 10%;
    width: fit-content;
    margin: auto;
}
  
.button {
    color:x;
    background-color: darkgoldenrod;
    border:4px solid  darkcyan;
    border-radius: 20%;
   }
#red {
color:darkgoldenrod;
border:4px solid darkcyan;
border-radius: 10%;
width: fit-content;
margin: auto;
}
#tcat {
    color:darkgoldenrod;
    border:4px solid darkcyan;
    border-radius:20%;
    width: fit-content;
   margin: auto;
    }
    iframe {
        border: 3px groove darkgoldenrod;
    }
    #fett {
        color: aqua;
    }
  #top {
    text-align:center;
    border: 3px solid darkgoldenrod;
    margin:0 auto;
    padding:auto;
    width:30%;
   vertical-align: middle;
  }
#layout {
    font-family: 'arial', sans-serif;
    border: 2px solid aqua;
    outline: none;
    font-size: 19px;
    vertical-align: middle;
    width:max-content;
    margin: auto;
    cursor:line;
}

#jks_img {
border: 3px groove aqua;
width: 30%;
cursor:pointer;
}
#center {
border: 2px solid aqua;
font-size: medium;
background-color:crimson;
font-family:'roboto-mono', cursive ;
}