body {
    background-color:chocolate;
}
 #cat {
    font-family: 'Roboto Mono', monospace;
    color: aqua;
    border: 4px solid darkcyan;
    border-radius: 10%;
    width: fit-content;
    margin: auto;
}
  
.button {
    color:x;
    background-color:aqua;
    border:4px solid  darkcyan;
    border-radius: 20%;
   }
#red {
color:aqua;
border:4px solid darkcyan;
border-radius: 10%;
width: fit-content;
margin: auto;
}
#tcat {
    color:aqua;
    border:4px solid green;
    border-radius:20%;
    width: fit-content;
   margin: auto;
    }
    iframe {
        border: 1px solid aqua;
    }
    #fett {
        color: aqua;
    }
  #top {
    text-align:center;
    border: 3px solid green;
    margin:0 auto;
    padding:1%;
    width:fit-content;
   vertical-align: middle;
  }
#layout {
    font-family: 'arial', sans-serif;
    border: 2px solid aqua;
    outline: none;
    font-size: 19px;
    vertical-align: middle;
    width:max-content;
    margin: auto;
    cursor:line;
}

#jks_img {
border: 3px groove aqua;
width: 30%;
cursor:pointer;
}
#center {
border: 3px solid green;
font-size: medium;
color:aqua;
background-color: chocolate;
font-family:'roboto-mono', cursive ;
}

#dev {
    text-align: center;
    color: aqua;
}
#border_dev {
    font-size: small;
font-family: cursive;
}