*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   cursor: none;
}

body{

}

.img{
width: 100%; 
}
.home{
   margin-bottom: 20px;
   align-self: center;
   border: 3px solid #00f5d4;
   padding: 0px 3px;
   width: fit-content;
   height: fit-content;
   font-family: 'Arima', cursive;
   font-family: 'IBM Plex Serif', serif;
   font-family: 'Roboto Mono', monospace;
   font-size: 15px; 
   box-shadow: 0px 1px 20px white;
}
.home a{
   text-decoration: none;
   color: white;
   text-shadow: 0px 0px 5px white;
}



.navBar{
   position: sticky;
   top: 0px;
  display: flex;
  height: 100px;
  width: 100%;
   justify-content: space-around;
   background-color: coral;
color: white;
}

.search-container{
   position: relative;
   display: flex;
   margin-left: 90px;
   margin-top: 18px;
   background-color: white;
   border-radius: 100px;
   height: 40px;
   width: 600px;
}
 #input{
   background: transparent;
   width: 560px;
   flex: 1;
   border: 0;
   outline: none;
   padding: 8px 20px;
   font-size: 20px;
}

.search-button{
   position: absolute;
   background: #00f5d4;
   color: white;
   border: 0;
   font-size: 15px;
   font-weight: bold;
   cursor: pointer;
   padding: 10px;
   border-radius: 100px;
  right: -15%;
  top: 5%;
}
[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: none;
   appearance: none;
   height: 10px;
   width: 10px;
   cursor: pointer;
   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEyMy4wNXB4IiBoZWlnaHQ9IjEyMy4wNXB4IiB2aWV3Qm94PSIwIDAgMTIzLjA1IDEyMy4wNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIzLjA1IDEyMy4wNTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTEyMS4zMjUsMTAuOTI1bC04LjUtOC4zOTljLTIuMy0yLjMtNi4xLTIuMy04LjUsMGwtNDIuNCw0Mi4zOTlMMTguNzI2LDEuNzI2Yy0yLjMwMS0yLjMwMS02LjEwMS0yLjMwMS04LjUsMGwtOC41LDguNQ0KCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQNCgkJYzIuMywyLjMsNi4xLDIuMyw4LjUsMGw4LjUtOC41YzIuMy0yLjMsMi4zLTYuMSwwLTguNWwtNDIuNS00Mi40bDQyLjQtNDIuMzk5QzEyMy42MjUsMTcuMTI1LDEyMy42MjUsMTMuMzI1LDEyMS4zMjUsMTAuOTI1eiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
   background-size: 10px 10px;
 }

 .cart-container{
   position: relative;
   background:#00f5d4 ;
   width: 50px;
   height: 50px;
   border-radius: 5px;
   margin-top: 15px;
   margin-left: 100px;
 }

 #cart{
position: absolute;
top: 8px;
left: 8px;
font-size: 30px;
 }
 #amount{
   position: absolute;
   top: -13px;
   right: -5px;
   background: red;
 font-size: 25px;
 border-radius: 5px;
padding: 0px 3px ;
 }
 @media  (max-width: 1400px) {
   .search-container{
      width:500px ;
   }
 #input{
   width:460px ;
}
}
 @media  (max-width: 1200px) {
.search-container{
   width:400px ;
}
 #input{
   width:360px ;
}
    }
 @media  (max-width: 1000px) {
 .search-container{
  width:300px ;
   }
   #input{
      width:260px ;
    
   }
   .home{
      font-size: 10px;
      margin-top: 15px;
   }
 }    
 @media  (max-width: 500px) {
   .search-container{
    width:260px ;
     }
     #input{
        width:160px ;
      
     }
     .home{
        font-size: 10px;
        margin-top: 15px;
     }
   }

   .cursor {
display: none;
      width: 20px;
      height: 20px;
      border: 2px solid black;
      border-radius: 50%;
      position: absolute;
   }