body {
    background-color:ivory;
}
h1 {
    font-family: 'Roboto Mono', monospace;
    color: goldenrod;
    border: 4px solid firebrick;
    border-radius: 10%;
    width: fit-content;
    margin: auto;
}
  
button {
    color: ivory;
    background-color: goldenrod;
    border:4px solid  firebrick;
    border-radius: 20%;
   }
#red {
color:goldenrod;
border:4px solid  firebrick;
border-radius: 20%;
width: fit-content;
margin: auto;
}
h4 {
    color:goldenrod;
    border:4px solid  firebrick;
    border-radius:20%;
    width: fit-content;
   margin: auto;
    }
    iframe {
        border: 3px groove goldenrod;
    }
    h2 {
        color: maroon;
    }
  
